<%- include("partials/head") %>
<%- include("partials/nav") %>
    
<h1 class="titulo"><%= title %></h1>

<main id="contenedor-get">
    <div id="productos-container">
        <ul id="productos-lista">
            <% products.forEach(prod => { %>
            
                <li class="li-listados productos-listados">
                    <img src="<%= prod.imagen %>" alt="Imagen <%= prod.nombre %>" class="img-listados">
                    <p>Id: <%= prod.id %> / Nombre: <%= prod.nombre %>/ <strong>Precio: <%= prod.precio %> / Estado: <%= prod.activo %></strong></p>
                </li>
            <!--
            <li class="li-listados productos-listados">
                <img src="" alt="" class="img-listados">
                <p>Id: / Nombre: / <strong>Precio: </strong> / Estado:</p>
            </li>
            -->
            <% }) %>
        </ul>
    </div>
</main>

    <!-- AGREGAR EL SCRIPT ACA -->

<!-- Esto seria si no pasamos el script completo -->
<!-- <script src="/js/dashboard/"></script> -->
<%- include("partials/footer") %>

